@inherits BlazoredSubMenuBase
@using Microsoft.AspNetCore.Components.Web

    <li class="@CssString" disabled="@(!IsEnabled)">
        @if (HeaderTemplate != null)
        {
            <a role="button" href="#" tabindex="0" @onclick="ToggleSubMenu" @onkeydown="KeyDownHandler" class="menu-link">@HeaderTemplate</a>
        }
        else
        {
            <span role="button" tabindex="0" @onclick="ToggleSubMenu" @onkeydown="KeyDownHandler">@Header <i>@Icon</i></span>
        }

        <ul class="menu">
            @if (MenuTemplate != null)
            {
                @MenuTemplate
            }
            else
            {
                foreach (var item in MenuItems)
                {
                    if (item.IsVisible)
                    {
                        <BlazoredMenuItem MenuItem="@item" IsEnabled="@item.IsEnabled" />
                    }
                }
            }
        </ul>
    </li>